@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <td>Name</td>
            <td>Ateeuqe</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>Canadian</td>
        </tr>
        <tr>
            <td>Designation</td>
            <td>Manager</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>Finance</td>
        </tr>
    </table>
</body>
</html>